body {
  margin: 0;
  font-family: 'Sofia Sans Semi Condensed', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f5fa;
}

* {
  font-family: 'Sofia Sans Semi Condensed', system-ui;
  padding: 0;
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 0px 20px #5a2b5a71;
  border-radius: 25px;
  max-width: 1200px;
  min-width: 657px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #ececec;
  padding: 40px;

  img{
    margin-right: 15px;
  }

  h3, p {
    margin: 0;
    font-size: 20px;
  }

  span {
    font-size: 20px;
  }

  .header__list-items {
    display: flex;
  }
}

.content {
  h1 {
    margin: 0;
    font-size: 40px;
  }
  padding: 40px;
}
.priceAfter:after {
  content: ' \20BD';
  font-size: 15px;
}



// .button {
//   background: #fcf9f9;
//   border: 1px solid #f3f3f3;
//   box-sizing: border-box;
//   border-radius: 10px;
//   height: 32px;
//   width: 32px;
//   cursor: pointer;
// }

.search-block {
  border: 2px solid #f8e8ff;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  &:hover{
    border: 2px solid #4a1e5c3f;
    box-shadow: 0px 0px 10px #c941ff62;
  }

  .clear {
    position: absolute;
    right: 0;  
    top: 13px;
    width: 17px;
    height: 17px;
    right: 15px;
  }

  input {
    border: 0;
    padding: 13px;
    font-size: 18px;
    width: 200px;
    
  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;
  }
  li{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 7px;
  }
  
  .purpleButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
      
    }

    &:disabled {
      animation: button-loading 1s ease-in-out infinite;
    }
    

    img {
      position: absolute;
      right: 30px;  
      top: 21px;
      width: 13px;
      height: 13px;
      transition: transform 0.2s ease-in-out ;
    }
  }
}

.purpleButton {
    width: 100%;
    height: 55px;
    background-color: #4d0170c9;
    border-radius: 20px;
    border: #fff;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease-in-out;

    &:disabled {
      background-color: #bebebe !important;
      cursor: default;
    }

    &:hover {
      background: lighten($color: #4d0170c9, $amount: 10%);
    }

    &:active {
      background: darken($color: #4d0170c9, $amount: 10%);
    }
    
  }

.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }
  .purpleButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.2s ease-in-out;
      width: 14px;
      height: 14px;
    }
  }
}


.cartItem {
  border: 1px solid #f3f3f3;
  background: rgb(255, 255, 255);

  border-radius: 20px;
  overflow: hidden;
  padding: 15px;

  .cartItemImg {
    height: 90px;
    width: 90px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 20px;
  }
  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  .removeBtn {
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes button-loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 412px) {
  .wrapper {
    max-width: 100%;
    min-width: 375px;
    margin: 0;
    border-radius: 0;
  }

  
header {
  border-bottom: 2px solid #ececec;
  padding: 5px;
  position: sticky;
  height: 170px;
  top: 0;
  z-index: 1;
  display: block !important;
  background-color: #ffffff;
  
  .header__list-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 115px;
      margin: 0 !important;
    }

    li:first-child {
      flex-direction: column;
    }
  }

    a {
      display: inline-block;
      margin: auto;
    }
    img{
      margin: 15px;
      margin-top: 10px;
    }

    h3 {
      margin-bottom: 5px;
      font-size: 20px;
      display: inline-block;
    }

    p {
      margin: 0;
      font-size: 16px;
      display: inline-block;
    }

    span {
      font-size: 14px;
    }
  }
  .content {
    h1 {
      margin: 0;
      font-size: 30px;
    }
    padding: 0;
    width: 100%;
  }
  .priceAfter:after {
    content: ' \20BD';
    font-size: 15px;
  }

  .search {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .search-block {
    border: 2px solid #f8e8ff;
    border-radius: 10px;
    padding: 0 15px;
    position: relative;
    margin-top: 20px;
  
    &:hover{
      border: 2px solid #4a1e5c3f;
      box-shadow: 0px 0px 10px #c941ff62;
    }
  
    .clear {
      position: absolute;
      right: 0;  
      top: 13px;
      width: 17px;
      height: 17px;
      right: 15px;
    }
  
    input {
      border: 0;
      padding: 13px;
      font-size: 16px;
      width: 200px;
      height: 40px;
    }
  }
}